*{
    --bg-color: #fffff;
    --vive-accent: #E8175D;
    --calm-accent: #CC527A;
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    text-align: left;
    color: var(--calm-accent);
    margin: 2vw;
}

/* Équipe */
.team{
    width: 90vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.teamTitle{
    align-self: flex-start;
}
.img img {
    height: 15vh;
    width: 15vh;
    border-radius: 50%;
    margin-top: 3vh;
}
.nom{
    margin: 1vh;
}
.memberLinks{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1vh;
    padding-bottom: 2vh;
    border-bottom: 1px solid var(--vive-accent)
}
.memberLinks a{
color: var(--calm-accent)
}
/* About */
.About{
    width: 90vw;
}
.aboutDescription {
    margin-bottom: 5vh;
}