/* Couleurs */
:root {
  --main-black: #363636;
  --main-grey: #474747;
  --main-pink: #e8175d;
  --secondary-pink: #cc527a;
  --secondary-grey: #a8a7a7;
}
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

/*Articles */
.articlesList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 0 2rem 0 2rem;
}
.articleImg {
  display: none;
}
.article {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 5%;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
}
.articleFav {
  display: none;
}
.articleTitle {
  padding: 1vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--main-grey);
}
.articleFavorite {
  color: goldenrod;
}
.articleTitle {
  color: var(--secondary-pink);
}
.articleDescription {
  padding: 2rem 1rem 2rem 1rem;
  text-align: center;
  border-bottom: 2px solid var(--main-grey);
}
.articleSnippet {
  display: none;
}
.open {
  height: 100%;
  padding: 0.5rem;
  color: var(--secondary-pink);
}

@media (min-width: 990px) {
  /* Articles */
  .article {
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 40vh;
    border-radius: 0;
    background-color: var(--secondary-grey);
    border: 2px solid var(--secondary-grey);
  }
  .articleImg {
    display: block;
  }
  .articleImg img {
    height: 15vh;
  }
  .articleBody {
    display: flex;
    flex-direction: row;
  }
  .articleFav {
    display: block;
    position: absolute;
    margin-top: 350px;
    margin-left: 15px;
  }
  .titleDesc {
    min-width: fit-content;
    max-width: 40%;
  }
  .articleTitle h2 {
    font-size: 1.5rem;
  }
  .articleTitle {
    background-color: var(--secondary-grey);
  }
  .articleDescription {
    text-align: left;
    border: none;
  }
  .articleSnippet {
    text-align: left;
    display: flex;
    margin-top: 25px;
    padding: 2rem 1rem 2rem 1rem;
  }
  .language-html {
    display: flex;
    flex-direction: column;
  }
  .articleSnippet button {
    width: 30%;
    justify-self: flex-end;
    align-self: flex-end;
  }
  .open {
    display: none;
  }
}
