*{
    margin: 0;
}
searchbar{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10rem;
    background-color: lightgray;
}
#searchBarContainer{
    flex-direction: row;
}
#searchbar{
    width: 80%;
}