* {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
}

/* VARIABLES */
:root {
  --main-black: #363636;
  --main-grey: #474747;
  --main-pink: #e8175d;
  --secondary-pink: #cc527a;
  --secondary-grey: #a8a7a7;
  --main-border-radius: 5%;
}

/* PARTIE RECHERCHE ET FILTRES */
.searchbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10rem;
  color: var(--main-black);
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 0px 10px black;
}
#searchBarContainer {
  width: 100%;
  flex-direction: row;
  border-bottom: 2px solid var(--secondary-pink);
}
#searchBarContainer svg {
  color: var(--secondary-pink);
}
#searchbar {
  width: 80%;
  height: 2rem;
  color: var(--main-black);
  font-size: 1.5em;
  border: none;
}
#technoFilter {
  width: 100%;
  height: 2rem;
  color: var(--main-black);
  border: none;
  border-bottom: 1px solid var(--secondary-pink);
  border-top: 1px solid var(--secondary-pink);
}
select option:hover {
  background-color: var(--secondary-pink);
}
#snippetsOnlyContainer {
  flex-direction: row;
  color: var(--main-black);
}
/* FIN */

/* MODAL */
.modal-container {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-title {
  background-color: var(--main-grey);
  width: 70%;
  height: 2em;
  color: var(--secondary-pink);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.modal-title h2 {
  width: 100%;
  text-align: center;
}
.modal-body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 70%;
}
.modal-body hr{
  width: 100%;
  margin-bottom: 1em;
}
.modal-body p {
  width: 80%;
  text-align: justify;
}
.show {
  visibility: visible;
}
/* FIN */

/* RESPONSIVE */
@media screen and (min-width: 900px) {
  section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .favCard {
    width: 30%;
  }
  #searchBarContainer {
    width: 50%;
  }
  #technoFilter {
    width: 50%;
    border: 1px solid var(--secondary-pink);
  }
}

@media screen and (min-width: 1280px) {
  section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .favCard {
    width: 20%;
  }
  #searchBarContainer {
    width: 50%;
  }
  #technoFilter {
    width: 50%;
    border: 1px solid var(--secondary-pink);
  }
}
