* {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
}

#enTete {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.entete {
  width: 100%;
  height: 250px;
  background-color: lightgrey;
}
h3 {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 10%;

  background-color: grey;
}

#arcticle1 {
  background-color: lightslategrey;
  height: 80%;
}
p {
  margin: 30px;
  border-radius: 10px;
  border: 1px black;
  box-shadow: 2px 0.2em 0.2em black;
}

.flex-containers {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
html {
  width: 100vw;
}

body {
  width: 100%;
}
.favhome{
  display: flex;
  margin-left: 40%;
  justify-content: space-between;
  height: 20%;
  width: 30%;
  border: 1px 1px 1px black;
  
}
.bloc1 {
  margin-top: 20%;
  width: 33%;
  height: 250px;
  background-color: lightgray;
  display: inline-block;
  align-items: flex-start;
  margin-bottom: 30px;
   
  }

  .link{
    display: flex;
    justify-content: space-around;
  }
 

  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 50%; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #e8175d; /* Set a background color */
    color:lightgray; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
    color: #e8175d;
  }